@model TravelReservation.Areas.Member.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil Düzenleme Sayfası</h1>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="form-control-label" for="name">Adınız</label>
        <input type="text" id="name" class="form-control" placeholder="Adınız" asp-for="name">
    </div>
    <div class="form-group">
        <label class="form-control-label" for="surname">Soyadınız</label>
        <input type="text" id="surname" class="form-control" placeholder="Soyadınız" asp-for="surname">
    </div>
    <div class="form-group">
        <label class="form-control-label" for="mail">Email Adresiniz</label>
        <input type="text" id="mail" class="form-control" placeholder="Email Adresiniz" asp-for="mail">
    </div>
    <div class="form-group">
        <label class="form-control-label" for="phonenumber">Telefon Numaranız</label>
        <input type="text" id="phonenumber" class="form-control" placeholder="Telefon Numaranız" asp-for="phonenumber">
    </div>
    <div class="form-group">
        <label class="form-control-label" for="password">Şifre</label>
        <input type="text" id="password" class="form-control" placeholder="Şifre" asp-for="password">
    </div>
    <div class="form-group">
        <label class="form-control-label" for="confirmpassword">Şifre Tekrar</label>
        <input type="text" id="confirmpassword" class="form-control" placeholder="Şifre Tekrar" asp-for="confirmpassword">
    </div>
    <div class="form-group">
        <label class="form-control-label" for="confirmpassword">Resim Seçin</label>
        <input type="file" id="confirmpassword" class="form-control" asp-for="Image">
    </div>
    <button class="btn btn-success">Bilgileri Güncelle</button>
</form>

